---
layout: splash
permalink: /
date: 2018-03-01T00:00:00-00:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/shuterstock_7a939f3a.png
  cta_label: "Get started"
  cta_url: "/solutions/"
  caption: ""
excerpt: |-
  The team at Tecknicos specializes in Managed Cloud Services for small and medium–sized companies looking to leverage cloud technologies in their business operation.
intro:
- excerpt: "**With the Tecknicos Managed Cloud Services (MCS) offering, your business can:**"
feature_row:
  - image_path: /assets/images/cloud-migration-shutterstock_489_bysmallerheight.png
    alt: "Transition"
    title: "Transition to a hybrid or full cloud infrastructure"
    excerpt: |
        - No need for staffing considerations
          - We do your DevOps
          - We do your Cloud Infrastructure Management
        - Fully offload or co-manage your cloud environment
          - We offer flexible shared-control arrangements for your cloud implementation
        - Leverage our signature toolsets and workflows for optimizing maintenance and operational lifecycles
        - Reduce vendor lock-in through support for Multiple Cloud Providers:
          - AWS
          - Azure
          - Google Cloud
  - image_path: /assets/images/shutterstock_639963496_photograph_848w477h.jpg
    alt: "In-step"
    title: "Move in step with today's modern infrastructure deployments"
    excerpt: |
      - Kubernetes
      - Docker Swarm
      - Openshift
      - PKS
      - Amazon EKS
      - Google Kubernetes Engine (GKE)
      - Hybrid Cloud (e.g. on-prem)
  - image_path: /assets/images/bestpractices.jpg
    alt: "Best Practices"
    title: "Learn best practices in cloud infrasructure management"
    excerpt: |
      Entrust our engineers and specialists to drive your cloud delivery in the right direction:
        - Enterprise Vendor Selection
        - Hyperconverged Infrastructure (HCI)
        - Implementing Container Security
        - HA Deployments
          - Docker Swarm
          - Kubernetes
feature_row2:
  - image_path: /assets/images/teamwork.jpg
    alt: "Our Business Process"
    title: "Our Business Process"
    excerpt: |
        We're a small team of dedicated *tecknophiles* that specialize in cloud services.
        Between the ten of us (and growing) we hold certifications for the following players in the cloud space: 
          - AWS
          - Azure
          - Cloud Native Computing Foundation
          - Docker
          - Google Cloud
          - Red Hat Openshift
        
        This is not counting the many certifications we hold in adjacent technologies!
        
        So how do we find the time to build and vet our skills? 

        By sharing our knowledge of course! 😎

        Visit our blog or join our Slack channel!

        You can inquire, contribute, or challenge someone to Street Fighter Alpha 3.

        <a href="/community/"><button class="btn--primary" type="button">Join the TK community <i class='fas fa-users'></i></button></a>
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}
